node_modules/
bundle.js
bundle.js.map

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
# config/initializers/secret_token.rb
config/master.key
config/initializers/secret_token.rb
/yarn-error.log/public/assets

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/log/.keep
!/tmp/.keep

## Environment normalization:
/.bundle
/vendor/bundle


# Ignore uploaded files in development
/storage/*
!/storage/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
/public/packs
/public/packs-test
/public/assets
/tmp

.DS_Store
npm-debug.log