.footer-main {
    background-color: rgb(20, 20, 20);
    display: flex;
    border-top: 3px solid #333;
    /* position: relative;
    bottom: 0; */
}

.footer-left {
    display: flex;
    align-items: center;
    width: 50%;
}

.footer-text {
    color: white;
    font-size: 13px;
    margin-left: 30px;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding-right: 20px;
}

.footer-link {
    margin: 20px 10px 20px 10px;
}

.fab {
    color: white;
    cursor: pointer;
}

.fab:hover {
    opacity: 0.8;
}