/* STRUCTURE ================================================== */
.nav-main {
    display: flex;
    color: white;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.nav-left {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
}

.logo-box {
    margin-left: 70px;
}

/* LOGGED OUT ===================================================================================*/

.logo-big {
    background-image: image-url("spaceflix-logo-big.png");
    background-size: cover;
    height: 67px;
    width: 229px;
    margin: 20px 0 5px 0px;
}

.nav-buttons-box {
    display: flex;
    margin-right: 30px;
}

.nav-button {
    background-color: #e50914;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    padding: 10px 15px 10px 15px;
}

.nav-link {
    text-decoration: none;
    margin-right: 20px;
}

/* LOGGED IN */

.logo-small {
    background-image: image-url("spaceflix-logo-small.png");
    background-size: cover;
    height: 40px;
    width: 137px;
    margin: 15px 0 15px 0px;
}

.nav-fixed {
    background: linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(0,0,0,0) 100%);
    position: fixed;
    z-index: 999;
}

.nav-fixed::before {
    background: linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 100%);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    transition: opacity 0.5s ease;
    opacity: 0;
}

.nav-scrolled.nav-fixed::before {
    opacity: 1;
}

/* LINKS SECTION */

.browse-links-container {
    display: flex;
    font-size: 15px;
    margin-left: 50px;
}

.browse-link {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.browse-link-active {
    font-weight: 600;
}

.browse-link:hover {
    transition-property: opacity;
    transition-duration: 300ms;
    opacity: 0.7;
}

/* PROFILES DROPDOWN */

.profiles-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 60px;
    position: absolute;
    top: 15px;
    right: 0;
}

.profiles-dropdown-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.nav-welcome {
    font-size: 15px;
    margin-right: 15px;
}

.current-profile {
    cursor: pointer;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-profile-img {
    background-image: image-url("rocket-icon");
    background-size: cover;
    height: 80%;
    width: 80%;

}

.dropdown-down-carrot {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    margin-left: 10px;
}

.profiles-dropdown-container:hover .profiles-dropdown-bottom {
    display: block
}

.profiles-dropdown-bottom {
    display: none;
}

.dropdown-bottom-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown-up-carrot {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    margin-right: 30px;
    margin-bottom: 1px;
}

.dropdown-main {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.85);
    border: 1px solid #444;
    width: 170px;
}

.dropdown-main-top {
    border-bottom: 1px solid #444;
    display: flex;
    flex-direction: column;
}

.dropdown-section {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.dropdown-profile {
    display: flex;
    align-items: center;
    margin: 0 10px 10px 10px;
}

.profile-pic {
    height: 35px;
    width: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-prof-img {
    background-image: image-url("rocket-icon");
    background-size: cover;
    height: 80%;
    width: 80%;
}

.dropdown-text {
    font-size: 13px;
    margin-left: 10px;
}

.dropdown-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.manage-link {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: -10px;
    text-decoration: none;
    color: white;
}

.manage-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dropdown-link {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: 600;
}

.dropdown-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.last {
    margin-bottom: 0;
}

