/* .profiles-main {
    background-color: #141414;
    height: 100vh;
    width: 100vw;
    color: #808080;
}

.profiles-logo-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
}

.profiles-logo {
    background-image: url("/assets/spaceflix-logo-small.png");
    background-size: cover;
    height: 40px;
    width: 137px;
    margin-left: 70px;
}

.profiles-outer-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.profiles-inner-container {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profiles-header {
    color: white;
    font-size: 65px;
}

.profiles-list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 35px 0 60px 0;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    cursor: pointer;
}

.profile-container:hover .profile-box {
    border: 3px solid white;
}

.profile-container:hover .profile-name {
    color: white;
}

.profile-box {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #333;
    margin-bottom: 20px;
}

.profile-icon {
    background-image: url("/assets/rocket-icon");
    background-size: cover;
    height: 175px;
    width: 175px;
}

.name-container {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-name {
    font-size: 22px;
    font-weight: 500;
}

.manage-button{
    font-size: 24px;
    padding: 10px 30px 10px 30px;
    border: 1px solid #808080;
    letter-spacing: 2px;
}

.manage-button:hover {
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.profiles-done-btn {
    background-color: red;
    font-size: 24px;
    color: white;
    padding: 10px 30px 10px 30px;
    letter-spacing: 2px;
    border: 1px solid #808080;
}

.profiles-done-btn:hover {
    background-color: #e50914;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.delete-btn {
    height: 30px;
    width: 30px;
    background-color: red;
    cursor: pointer;
}

.add-profile-box {
    height: 206px;
    display: flex;
    align-items: center;
}

.add-button-box {
    display: flex;
    align-items: center;
}

.add-profile-btn {
    height: 40px;
    width: 40px;
    background-image: url("/assets/add-unhovered");
    background-size: cover;
}

.add-profile-btn:hover {
    background-image: url("/assets/add-hovered");
    cursor: pointer;
}

.add-profile-text {
    font-size: 20px;
    color: white;
    position: absolute;
    margin-left: 50px;
    display: none;
}

.add-hover .add-profile-text {    
    display: block;
    cursor: pointer;
}





.add-header {
    font-size: 26px;
    color: white;
}

.add-profile-input {
    background-color: #333;
    border-radius: 3px;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-left: 10px;
    height: 40px;
    width: 160px;
    margin: 10px 0;
}

.add-submit {
    background-color: #e50914;
    border-radius: 3px;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    width: 120px;
}

.add-submit:hover {
    opacity: 0.8;
} */

/* GRADIENTS */

.gradient-1 {
    background: linear-gradient(0deg, rgba(114,155,244,1) 0%, rgba(49,107,212,1) 40%);
}

.gradient-2 {
    background: linear-gradient(0deg, rgba(231,109,109,1) 0%, rgba(163,7,38,1) 40%);
}

.gradient-3 {
    background: linear-gradient(0deg, rgba(138,231,109,1) 0%, rgba(7,163,41,1) 40%);
}

.gradient-4 {
    background: linear-gradient(0deg, rgba(109,111,231,1) 0%, rgba(14,7,163,1) 40%);
}

.gradient-5 {
    background: linear-gradient(0deg, rgba(231,211,109,1) 0%, rgba(163,138,7,1) 40%);
}



.profiles-main {
    background-color: #141414;
    height: 100vh;
    width: 100vw;
}

.profiles-logo-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
}

.profiles-logo {
    background-image: url("/assets/spaceflix-logo-small.png");
    background-size: cover;
    height: 40px;
    width: 137px;
    margin-left: 70px;
}

.profiles-overlay {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.profiles-container {
    /* background-color: maroon; */
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles-header {
    color: white;
    font-size: 65px;
    margin-bottom: 20px;
}

.profiles-list {
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.first-profile-form {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.first-prof-header {
    font-size: 24px;
    color: white;
    margin-right: 10px;
}

.first-prof-input {
    background-color: #333;
    border-radius: 3px;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-left: 10px;
    height: 40px;
    width: 160px;
}

.first-prof-create {
    background-color: #e50914;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    padding: 11px;
    margin-left: 10px;
}

.first-prof-create:hover {
    cursor: pointer;
    opacity: 0.8;
}

.manage-button{
    font-size: 24px;
    color: #808080;
    padding: 10px 30px 10px 30px;
    border: 1px solid #808080;
    letter-spacing: 2px;
    margin-top: 40px;
}

.manage-button:hover {
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.profiles-done-btn {
    background-color: red;
    font-size: 24px;
    color: white;
    padding: 10px 30px 10px 30px;
    letter-spacing: 2px;
    border: 1px solid #808080;
    margin-top: 40px;
}

.profiles-done-btn:hover {
    background-color: #e50914;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.profile-container {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    cursor: pointer;
}

.profile-container:hover .profile-box {
    border: 3px solid white;
}

.profile-container:hover .profile-name {
    color: white;
}

.profile-box {
    height: 25vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #333;
    margin-bottom: 20px;
}

.profile-icon {
    background-image: url("/assets/rocket-icon");
    background-size: cover;
    height: 87.5%;
    width: 87.5%;
}

.name-container {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-name {
    color: #808080;
    font-size: 22px;
    font-weight: 500;
}