/* GRADIENTS */

.gradient-1 {
    background: linear-gradient(0deg, rgba(114,155,244,1) 0%, rgba(49,107,212,1) 40%);
}

.gradient-2 {
    background: linear-gradient(0deg, rgba(231,109,109,1) 0%, rgba(163,7,38,1) 40%);
}

.gradient-3 {
    background: linear-gradient(0deg, rgba(138,231,109,1) 0%, rgba(7,163,41,1) 40%);
}

.gradient-4 {
    background: linear-gradient(0deg, rgba(109,111,231,1) 0%, rgba(14,7,163,1) 40%);
}

.gradient-5 {
    background: linear-gradient(0deg, rgba(231,211,109,1) 0%, rgba(163,138,7,1) 40%);
}

/* OTHER STYLES */

.profiles-main {
    background-color: #141414;
    height: 100vh;
    width: 100vw;
}

.profiles-logo-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
}

.profiles-logo {
    background-image: image-url("spaceflix-logo-small.png");
    background-size: cover;
    height: 40px;
    width: 137px;
    margin-left: 70px;
}

.profiles-overlay {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.profiles-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles-header {
    color: white;
    font-size: 65px;
    margin-bottom: 20px;
}

.profiles-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.first-profile-form {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.first-prof-header {
    font-size: 24px;
    color: white;
    margin-right: 10px;
}

.first-prof-input {
    background-color: #333;
    border-radius: 3px;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-left: 10px;
    height: 40px;
    width: 160px;
}

.first-prof-create {
    background-color: #e50914;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    padding: 11px;
    margin-left: 10px;
}

.first-prof-create:hover {
    cursor: pointer;
    opacity: 0.8;
}

.manage-button{
    font-size: 24px;
    color: #808080;
    padding: 10px 30px 10px 30px;
    border: 1px solid #808080;
    letter-spacing: 2px;
    margin-top: 40px;
}

.manage-button:hover {
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.profiles-done-btn {
    background-color: red;
    font-size: 24px;
    color: white;
    padding: 10px 30px 10px 30px;
    letter-spacing: 2px;
    border: 1px solid #808080;
    margin-top: 40px;
}

.profiles-done-btn:hover {
    background-color: #e50914;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    cursor: pointer;
}

.profile-container:hover .profile-box {
    border: 3px solid white;
}

.profile-container:hover .profile-name {
    color: white;
}

.profile-box {
    height: 23vh;
    width: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #333;
    margin-bottom: 20px;
}

.profile-icon {
    background-image: image-url("rocket-icon");
    background-size: cover;
    height: 87.5%;
    width: 87.5%;
}

.name-container {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.profile-name {
    color: #808080;
    font-size: 22px;
    font-weight: 500;
}

.delete-btn {
    background-image: image-url("close-unhov");
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.delete-btn:hover {
    background-image: image-url("close-hov");
}

.create-prof-form {
}

.create-prof-main {
    height: 23vh;
    display: flex;
    align-items: center;
}

.create-btns-box {
    display: flex;
    align-items: center;
}

.profiles-add-btn {
    background-image: image-url("add-prof-unhov");
    background-size: cover;
    height: 35px;
    width: 35px;
}

.profiles-add-btn:hover {
    cursor: pointer;
    background-image: image-url("add-prof-hov");
}

.create-profile-text {
    font-size: 20px;
    color: white;
    position: absolute;
    margin-left: 45px;
    display: none;
}

.add-hover .create-profile-text {    
    display: block;
    cursor: pointer;
}

.create-prof-footer {
    width: 100%;
    height: 50px;
}

.create-form {
    display: flex;
    flex-direction: column;
}

.create-prof-header {
    color: white;
    font-size: 20px;

}

.create-input {
    background-color: #333;
    border-radius: 3px;
    border-style: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding-left: 10px;
    height: 40px;
    width: 160px;
    margin: 10px 0;
}

.create-submit {
    background-color: #e50914;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    padding: 10px 0;
    width: 50%;
    text-align: center;
}

.create-submit:hover {
    cursor: pointer;
    opacity: 0.8;
}