/* Defaults:

.feature-description {
    font-size: 20px;
    width: 40%;
    line-height: 1.3;
    margin-bottom: 30px;
}

*/

@media (max-height: 800px) {

    .feature-info {
        margin-bottom: 110px;
    }

    .browse-rows-container {
        margin-top: -80px;
    }

    .feature-title {
        font-size: 55px;
        margin-bottom: 20px;
    }

    .feature-description {
        margin-bottom: 20px;
    }

}

@media (max-width: 1490px) {
    .feature-description {
        font-size: 19px;
    }
}

@media (max-width: 1420px) {

    .feature-title {
        font-size: 55px;
    }

    .feature-description {
        font-size: 18px;
    }
}

@media (max-width: 1350px) {

    .feature-title {
        font-size: 52px;
    }

    .feature-description {
        font-size: 17px;
        line-height: 1.2;
        margin-bottom: 28px;
    }
}

@media (max-width: 1277px) {

    .feature-title {
        font-size: 50px;
    }

    .feature-description {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 28px;
    }
}

@media (max-width: 1225px) {

    .feature-description {
        width: 45%;
    }

}