.browse-main {
    width: 100%;
    background-color: #141414;
    /* background-color: black; */
}

.browse-hero-container {
    background-color: darkblue;
    height: 85vh;
    width: 100vw;
}

.browse-rows-container {
    width: 100%;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
}