.feature-main {
    background-color: red;
    height: 100%;
    width: 100%;
    position: relative;
}

.feature-movie-container {
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-movie {
    background-color: green;
    /* height: auto;
    width: 100%;
    margin-top: -40px; */
   
    /* height: auto;
    width: 100%; */

    height: 130%;
    width: 100%;
} 

.feature-overlay {
    /* background-color: goldenrod; */
    height: 100%;
    width: 100%;
    position: relative;
}