.movie-main {
    display: flex;
    flex-direction: column;

}

.movie-preview {
    background-color: green;
    flex-shrink: 0;

    height: 180px;
    width: 290px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}




.movie-show{ 
    width: 100vw;
    height: 500px;
    background-color: red;
}