.movie-row-main {
    color: white;
    width: 100%;
    margin-bottom: 50px;
}

.genre-title {
    font-size: 24px;
    font-weight: 600;
    margin-left: 50px;
}

.movies-container {
    display: flex;
    background-color: blue;
    align-items: center;
    /* margin-left: 40px; */
    height: 200px;
    width: 90%;
    overflow-x: hidden;
}


.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    display: flex;
    background-color: yellow;
    margin: 10px 0 10px 0;
}

.carousel-button {
    background-color: red;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}


.move-right {
    transform: translate(350px, 0);
}