/* MOVIE-PREVIEW GENERAL =================================== */

.movie-main {
    background-color: #555;
    flex-shrink: 0;
    margin-right: 5px;
    cursor: pointer;
}

/* MOVIE-PREVIEW DEFAULT ====================================== */

.movie-preview-default {
    height: 168px;
    width: 300px;
}

.movie-preview-default:hover {
    animation: 1s ease 0s 1 normal both running zoom;
}

@keyframes zoom {
    from {
        height: 168px;
        width: 300px;
    }

    to {
        height: 280px;
        width: 500px;
    }
}

.thumbnail {
    height: 168px;
    width: 300px;
    visibility: visible;
}

.playing .thumbnail {
    transition: 1000ms ease all;
    height: 280px;
    width: 500px;
    opacity: 0;
    visibility: hidden;

    transition: height 1s, width 1s, opacity .5s, visibility 0s;
    transition-property: height, width, opacity, visibility;
    transition-delay: 0s, 0s, 1s, 1.5s;
}

.trailer-container {
    /* position: absolute; */
    height: 100%;
    width: 100%;
}

.trailer-info {
    height: 100%;
    width: 100%;

    display: flex;
}

.trailer-details {
    height: 100%;
    width: 80%;

    background-color: red;
}

.trailer-buttons {
    width: 20%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.add-btn {
    background-image: url("/assets/add-unhovered");
    background-size: cover;
    height: 36px;
    width: 36px;
}

.add-btn:hover {
    background-image: url("/assets/add-hovered");
}

.sound-btn-off {
    background-image: url("/assets/sound-off-unhovered");
    background-size: cover;
    height: 36px;
    width: 36px;
}

.sound-btn-off:hover {
    background-image: url("/assets/sound-off-hovered");
}

.sound-btn-on {
    background-image: url("/assets/sound-on-unhovered");
    background-size: cover;
    height: 36px;
    width: 36px;
}

.sound-btn-on:hover {
    background-image: url("/assets/sound-on-hovered");
}

.trailer {
    height: 100%;
    width: 100%;
}

.thumbnail-active {
    position: absolute;
    height: 162px;
    width: 294px;
    opacity: 0.7;
}

.thumbnail-inactive {
    height: 168px;
    width: 300px;
    opacity: 0.7;
}

/* MOVIE-PREVIEW ACTIVE =================================== */


.movie-preview-active {
    height: 162px;
    width: 294px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-play-button {
    position: absolute;
    visibility: hidden;
}

.preview-play-button:hover {
    opacity: 0.7;
}

.chev-down {
    background-image: url("/assets/chev-down-white");
    background-size: cover;
    position: absolute;
    height: 16px;
    width: 55px;

    visibility: hidden;
    opacity: 0;
    margin-top: 45px;
}

/* MOVIE-PREVIEW INACTIVE ===================================== */

.movie-preview-inactive:hover .chev-down {
    transition: 500ms ease all;
    transform: translate(0, 20px);
    opacity: 1;
}

.movie-preview-inactive {
    height: 168px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* MOVIE-SHOW SECTION */

.movie-show { 
    width: 100vw;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.show-close-btn {
    background-color: blue;
    border-radius: 5px;
    height: 20px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
}

.playing .hov-button {
    visibility: visible;
}