.movie-row-main {
    color: white;
    width: 100%;
    margin-bottom: 55px;
}

.genre-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 15px 50px;
}

.movies-container {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 172px;
}

.carousel-wrapper {
    /* background-color: blue; */
    /* height: 220px; */
    display: flex;
    align-items: center;
    width: 95%;
    overflow-x: hidden;
    margin: 0 10px 5px 10px;
    position: relative;
}

.carousel {
    /* background-color: yellow; */
    display: flex;
    transition: 1s ease all; 
    align-items: center;
}

.carousel-left {
    cursor: pointer;
    background-image: url("/assets/chev-left-white");
    height: 55px;
    width: 16px;
    /* visibility: hidden; */
}

.unhidden {
    visibility: visible;
}

.carousel-left:hover {
    background-image: url("/assets/chev-left-red");
}

.carousel-right {
    background-image: url("/assets/chev-right-white");
    height: 55px;
    width: 16px;
}

.carousel-right:hover {
    background-image: url("/assets/chev-right-red");
    cursor: pointer;
}

.move-right {
    transform: translate(-50%, 0);
}