.movie-trailer-box {
    height: 191px;
    width: 340px;
    background-color: red;
    border: 1px solid white;
    margin: 10px;
}

.thumbnail {
    height: 191px;
    width: 340px;
    position: absolute;
    z-index: 1;
    background-color: blue;
}

.details-box {

}

.details-basic {
    position: absolute;
}

.trailer-small {
    height: 191px;
    width: 340px;
}