.watch-main {
    /* background-color: red; */
    color: white;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.watch-movie-container {
    /* background-color: blue; */
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch-info-container {
    /* background-color: orange; */
    height: 100vh;
    width: 100vw;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.watch-controls-container {
    /* background-color: green; */
    width: 96%;
    height: 120px;
    margin-bottom: 10px;
}

.watch-movie {
    height: 120%;
    width: auto;
    /* height: 100vh;
    width: auto; */
} 

.back-container {
    /* background-color: blue; */
    width: 96%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 75px;
}

.back-small-container {
    /* background-color: green; */
    display: flex;
    align-items: center;
    text-decoration: none;
}

.back-button {
    /* background-color: red; */
    background-image: url("/assets/back-btn");
    background-size: cover;
    height: 31px;
    width: 35px;
    cursor: pointer;
    z-index: 10;
}

.back-hover .back-button {
    transition-property: height, width;
    transition-duration: 300ms;
    height: 35px;
    width: 39px;
}

.back-text {
    /* background-color: orange; */
    font-size: 22px;
    color: white;
    opacity: 0;
    margin-left: 0;
}

.back-hover .back-text {
    transition-property: opacity, margin-left;
    transition-duration: 300ms;

    opacity: 1;
    margin-left: 15px;
}

/* WATCH CONTROLS STRUCTURE ==================================== */

.controls-top {
    /* background-color: magenta; */
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.controls-bottom {
    /* background-color: purple; */
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.control-btns-left {
    /* background-color: maroon; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.control-btns-right {
    /* background-color: yellowgreen; */
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* WATCH CONTROLS */

.watch-title {
    font-size: 18px;
    font-weight: 700;
}

.watch-pause-btn {
    background-image: url("/assets/watch-pause");
    background-size: cover;
    height: 28px;
    width: 14px;
    cursor: pointer;
    margin-right: 50px;
    opacity: 0.7;
}

.watch-pause-btn:hover {
    opacity: 1;
    height: 32px;
    width: 16px;
    transition-property: opacity, height, width;
    transition-duration: 300ms;
}

.watch-play-btn {
    background-image: url("/assets/watch-play");
    background-size: cover;
    height: 32px;
    width: 24px;
    cursor: pointer;
    margin-right: 50px;
    opacity: 0.7;
}

.watch-play-btn:hover {
    opacity: 1;
    height: 36px;
    width: 26px;
    transition-property: opacity, height, width;
    transition-duration: 300ms;
}

.watch-sound-on {
    background-image: url("/assets/watch-sound-on");
    background-size: cover;
    height: 27px;
    width: 27px;
    cursor: pointer;
    margin-right: 50px;
    opacity: 0.7;
}

.watch-sound-on:hover {
    opacity: 1;
    height: 30px;
    width: 30px;
    transition-property: opacity, height, width;
    transition-duration: 300ms;
}

.watch-sound-off {
    background-image: url("/assets/watch-sound-off");
    background-size: cover;
    height: 27px;
    width: 27px;
    cursor: pointer;
    margin-right: 50px;
    opacity: 0.7;
}

.watch-sound-off:hover {
    opacity: 1;
    height: 30px;
    width: 30px;
    transition-property: opacity, height, width;
    transition-duration: 300ms;
}

.subtitles-btn {
    background-image: url("/assets/subtitle-box");
    background-size: cover;
    height: 29px;
    width: 48px;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 5px;
}

.subtitles-btn:hover {
    transition-property: opacity, height, width;
    transition-duration: 300ms;
    height: 31px;
    width: 50px;
    opacity: 1;
}

.fullscreen-btn {
    background-image: url(/assets/full-screen);
    background-size: cover;
    height: 24px;
    width: 40px;
    margin-top: 3px;
    margin-left: 40px;
    opacity: 0.7;
    cursor: pointer;
}

.fullscreen-btn:hover {
    transition-property: opacity, height, width;
    transition-duration: 300ms;
    height: 27px;
    width: 45px;
    opacity: 1;
}